@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  
<input type="text" id="msg" />
<div id="allbuttons">
  <input type="button" id="broadcast" value="broadcast" />
    
    <input type="button" id="autobroadcast" value="autobroadcast" />
    <input type="button" id="stopbroadcast" value="stopbroadcast" />
    </div>
<p>Messages : </p>
<ul id="messages">  </ul>
<p>Users : </p>
  <ul id="users">  </ul>
<div id="latestmessage"></div>
<script type="text/javascript">
    $(function () {
        
        // Proxy created on the fly
        var chat = $.connection.chat;

        // Declare a function on the chat hub so the server can invoke it
        chat.client.addMessage = function (message, from) {
            $('#latestmessage').text( message + " from " + from );
        };

        chat.client.userJoined = function (message) {
            $('#users').prepend('<li>' + message + '</li>');
        };

        chat.client.onConsoleMessage = function (message) {
            $('#messages').prepend('<li> From the console application : ' + message + '</li>');
        };

        $("#broadcast").click(function () {
            // Call the chat method on the server
            chat.server.send($('#msg').val())
             .done(function () {
                 console.log('Success!');
             })
             .fail(function (e) {
                 console.warn(e);
             });
        });

        var data = 0;
        var broadcastinterval;
        $("#autobroadcast").click(function () {
            broadcastinterval = setInterval(function () {
                $('#msg').val(data ++ );
                $("#broadcast").click();
            }, 1);
            $("#autobroadcast").hide();
            $("#stopbroadcast").show();
        });

        $("#stopbroadcast").click(function () {
            clearInterval(broadcastinterval);
            $("#autobroadcast").show();
            $("#stopbroadcast").hide();
        });

        $("#allbuttons").hide();

        // Start the connection
        $.connection.hub.start().done(function () {
            $("#allbuttons").show();
            $("#stopbroadcast").hide();
            chat.server.notifyJoined();
        });
    });
  </script>
